.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;

    background-color: #251101;
    padding: 20px; 

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}