<div class="hero">

    <!-- sidebar -->
    <div class="sidebar"> 
        <!-- links to the other web pages go here -->
         <a href="search.html">Search</a>
         <a href="display.html">Data Display</a>
         <a href="download.html">Data Download</a>
         <a href="upload.html">Upload Data</a>
    </div>

    <!-- title -->
    <h1>epaData</h1>

    <!-- descriptions -->
    <p>
        EPA Data Management, Evaluation, and Visualization System
    </p>

    <p>
        Manage, search, analyze, and visualize environmental
        and power-sector data.
    </p>

    <!-- buttons -->
    <div class="buttons">
        <a class="button" href="/upload">Upload Data</a>
        <a class="button" href="/explorer">Explore Data</a>
    </div>

</div>

